<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/style/main.css}">
<!--Responsividade-->   
<link rel="stylesheet" th:href="@{/style/responsive.css}">
<!--Owl css-->
<link rel="stylesheet" th:href="@{/style/Owl/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/style/Owl/owl.theme.default.min.css}">


<!-- link rel="stylesheet" type="text/css" th:href="@{/css/bf_estiloSistema.css}" -->
<!-- script type="text/javascript" th:src="@{/js/script.js}"-->
<title>Overflix</title>

</head>
<body>
	<header>

		<header>
			<div class="container">
				<h2 class="logo">OVERFLIX</h2>
				<nav>
					<a href="#">Home</a>
					 <a href="#">TV Series</a> 
					 <a href="#">Movies</a>
					<a href="#">My List</a>
				</nav>
			</div>
		</header>
	</header>
	<br />
	<br />

	<!--cabeçalho - fim -->


	<!-- Conteúdo -->
	<div layout:fragment="content"></div>



	<!--Rodapé - início -->
	<br />
	<br />
<script th:src="@{https://kit.fontawesome.com/10b601eae3.js}"	crossorigin="anonymous"></script>
<script th:src="@{/js/owl/jquery.min.js}"></script>
<script th:src="@{/js/owl/owl.carousel.min.js}"></script>
<script th:src="@{/js/owl/setup.js}"></script>

</body>
</html>